#logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
}
#titleWrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#title {
  display: block;
  letter-spacing: 0.61em;
  line-height: 30px;
  font-size: 24px;
  margin-left: 14px;
}
#slogan {
  font-size: 13px;
  color: #f88f8f;
  line-height: 30px;
}
