.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 238px;
  margin: 0 auto;
}
.form {
  &__input {
    width: calc(100% - 20px);
    border: none;
    padding: 5px 10px;
    background: #fff8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  &__required {
    color: #e00000;
  }
  span {
    font-weight: 600;
  }
  &__textarea {
    height: 100px;
    resize: none;
    width: calc(100% - 20px);
    border: none;
    padding: 10px 10px;
    background: #fff8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  &__submit {
    height: 38px;
    left: 61px;
    top: 705px;
    border: none;
    background: #ff6666;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
  }
}
